<!DOCTYPE html>
<html>
<head>
    <title>My First Webpage</title>
    <style>
        body{
            text-align: center;
            font-family: sans-serif;
        }
        button{
            background-color: bisque;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(42, 42, 42);
        }
    </style>
</head>
<body>
    <h1>SpamGuard Classifier</h1>
    <form method="post" action="/predict">
        <textarea rows="15" cols="35" name="content" placeholder="enter you mail body here"
        autocomplete="off" >{{ email }}</textarea>
        <div>
            <button>Check Spam</button>
            <a href="/">Reset</a>
        </div>
        
    </form>
    <h2>{{ predictions }}</h2>
</body>
</html>