<!DOCTYPE html>
<html>
<head>
    <title>My First Webpage</title>
    <style>
        body{
            text-align: center;
            font-family: sans-serif;
        }
        button{
            background-color: bisque;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(42, 42, 42);
        }
    </style>
</head>
<body>
    <h1>SpamGuard Classifier</h1>
    <form method="post">
        <textarea name="email-content" placeholder="enter you mail body here" rows="15" cols="35"></textarea>
        <div>
            <button>Check Spam</button>
        </div>
        
    </form>
    <h2>{{ text }}</h2>
</body>
</html>